@import "../../../styles/variables.scss"; /* Importa as variáveis de cor */
*{
  font-family: "Montserrat", Sans-serif;
  font-weight: 200;
}
.navbar {
  background-color: transparent !important; /* Torna o fundo transparente */
  box-shadow: none; /* Remove qualquer sombra */
  position: absolute; /* Coloca a navbar em posição absoluta */
  width: 100%; /* Faz a navbar ocupar toda a largura */
  z-index: 10; /* Garante que a navbar esteja acima do conteúdo */

  .nav-link {
    color: white !important; /* Ajusta a cor do texto para branco */
    font-size: 1.2rem; /* Aumenta o tamanho da fonte */
    margin-left: 2rem; /* Aumenta o espaçamento entre os links */
    margin-right: 0.4rem; /* Aumenta o espaçamento entre os links */
    transition: color 0.3s ease, transform 0.3s ease; /* Adiciona transições suaves para cor e transformação */


    &:hover, &.active {
      color: $primary-color !important; /* Muda a cor ao hover ou quando ativo */
      transform: translateY(-3px); /* Move o link para cima levemente ao hover ou quando ativo */
    }
  }

  .navbar-brand {
    img {
      transition: transform 0.3s ease; /* Adiciona transição suave à imagem */

      &:hover {
        transform: scale(1.1); /* Aumenta a escala da imagem ao hover */
      }
    }
  }

  .navbar-toggler {
    border: none; /* Remove a borda do botão toggle */
    transition: transform 0.3s ease; /* Adiciona transição suave ao botão */

    &:hover {
      transform: rotate(90deg); /* Rotaciona o botão ao hover */
    }
  }

  .navbar-toggler-icon {
    background-image: none; /* Remove o ícone padrão do Bootstrap */
    font-size: 1.25rem; /* Tamanho do ícone */
    color: $primary-color; /* Cor do ícone */
  }

  .collapse.show {
    animation: slideDown 0.5s forwards; /* Adiciona uma animação de deslizamento ao abrir o menu */
  }
}

@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 500px; /* Define um valor máximo para o deslizamento */
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente no menu colapsado */
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor de fundo */
  }

  .nav-link {
    color: $light-color !important; /* Ajusta a cor dos links no menu colapsado para um tom mais claro */

    &:hover {
      color: $primary-color !important; /* Cor primária ao hover em dispositivos móveis */
    }
  }
}
