@import "../../../styles/variables.scss"; /* Importa as variáveis de cor */

.navbar {
  background-color: transparent !important; /* Mantém o fundo transparente */
  position: absolute; /* Faz o header não seguir o scroll */
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 5px 20px; /* Reduz o padding para diminuir a altura do header */
  box-shadow: none !important; /* Remove qualquer sombra do header */
}


.navbar.navbar-light {
  box-shadow: none !important; /* Remove a sombra em navbars claras */
}

.navbar-brand,
.navbar-nav .nav-link {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.navbar.loaded .navbar-brand,
.navbar.loaded .nav-link {
  opacity: 1;
  transform: translateY(0);
}

.navbar-nav .nav-item .nav-link {
  color: $text-color;
  position: relative;
  padding: 5px 15px; /* Reduz o padding interno dos links para diminuir sua altura */
  margin-right: 40px !important; /* Adiciona espaçamento entre os links e usa !important para garantir aplicação */
}

.navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0 !important; /* Remove o margin da direita do último link para melhor alinhamento */
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: $prime-color;
  left: 0;
  bottom: -5px;
  transition: width 0.4s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-brand img {
  max-height: 45px; /* Ajusta a altura máxima da logo para se adequar ao header menor */
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.navbar-brand img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.container {
  padding-top: 10px; /* Ajuste o valor conforme necessário para evitar sobreposição do conteúdo */
}
