<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/user">
      <img src="/assets/png/logo-transparente.png" alt="Logo"/>
    </a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarLinks"
      aria-controls="navbarLinks"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-align-justify"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarLinks">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/quem-somos">Home.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contato">Us.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedbacks">Methodologies.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/metodologias">Feedback.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contect">Contact.</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
