<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/user">
      <img src="/assets/svg/logo.svg" alt="Logo" />
    </a>

    <!-- Toggle button -->
    <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#metods">Metods.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Us">Us.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedbacks">Feedbacks.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact.</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

