<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/user">
      <img src="/assets/svg/logo.svg" alt="Logo"/>
    </a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarLinks"
      aria-controls="navbarLinks"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-align-justify"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarLinks">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/quem-somos">QUEM SOMOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contato">CONTATO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedbacks">FEEDBACKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/metodologias">METODOLOGIAS</a>
        </li>
      </ul>

      <!-- Link de Login visível apenas em telas grandes -->
      <div class="d-none d-lg-flex align-items-center ms-auto">
        <a href="login">
          <button data-mdb-ripple-init type="button" class="btn btn-primary">
            Login
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>
