<app-default-login-layout
title="Refresh Your Password"
primaryBtnText="Refresh Now"
secundaryBtnText="Refresh Password"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimaryBtn]="!refrashForm.valid"
>
  <form [formGroup]="refrashForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="email@gmail.com"
    >
      <img src="/assets/svg/email-icon.svg"/>
    </app-primary-input>
    <app-primary-input
      formControlName="code"
      inputName="code"
      type="password"
      label="Confirm code send your address email"
    >
      <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
  </form>
</app-default-login-layout>
