@import "../../../../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem;
  background-color: #320361;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 1300px;
  margin: auto;
  opacity: 0;
  transform: translateY(20px);
  will-change: opacity, transform;
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  app-form-modal {
    margin-top:2rem;
    margin-right: 250px; /* Centraliza o botão em telas pequenas */
  }

  .text-content {
    text-align: center;
    margin-bottom: 1.5rem;

    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      margin-left: 0; /* Remove o deslocamento em telas menores */
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }

  .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      width: 100%; /* Ajusta a largura da imagem para telas menores */
      max-width: 900px; /* Limita a largura máxima */
      height: auto;
      border-radius: 10px;
      margin-bottom: 1rem;
    }

    app-form-modal {
      margin-top: 2rem;
      margin-left: 0; /* Centraliza o botão para telas menores */
    }
  }

  /* Media queries para telas menores */
  @media (max-width: 992px) {
    padding: 3rem; /* Reduz o padding em telas médias */

    .text-content {
      p {
        font-size: 1.25rem; /* Ajusta o tamanho do texto */
      }

      h1 {
        font-size: 2rem; /* Reduz o tamanho do título */
      }
    }

    .content-section img {
      max-width: 700px; /* Ajusta o tamanho da imagem para telas menores */
    }
  }

  @media (max-width: 768px) {
    padding: 2rem; /* Reduz o padding para telas menores */

    .text-content {
      p {
        font-size: 1rem; /* Ajusta o tamanho do texto */
      }

      h1 {
        font-size: 1.75rem; /* Reduz o tamanho do título */
      }
    }

    .content-section img {
      max-width: 100%; /* Ocupa toda a largura disponível */
    }
  }

  @media (max-width: 576px) {
    padding: 1.5rem;

    .text-content {
      p {
        font-size: 0.9rem; /* Ajuste fino para textos pequenos */
      }

      h1 {
        font-size: 1.5rem;
      }
    }

    .content-section img {
      max-width: 100%; /* Ocupa toda a largura disponível */
    }


  }
}
