<div class="content-home">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title">
          <span #typedOutput></span>
        </h2>
        <p class="description">
          Descubra um mundo de conhecimento e inovação! Nosso site foi criado para oferecer informações abrangentes sobre nossos serviços e metodologia de trabalho. Exploramos novas ideias e oferecemos feedbacks valiosos para garantir a melhor experiência para você.
        </p>
        <p class="description">
          Conheça nossa equipe, entre em contato conosco e veja como podemos ajudá-lo a alcançar seus objetivos com as melhores práticas e metodologias.
        </p>
        <p class="description">
          Conheça nossa equipe, entre em contato conosco e veja como podemos ajudá-lo a alcançar seus objetivos com as melhores práticas e metodologias.
        </p>
        <p class="description">
          Conheça nossa equipe, entre em contato conosco e veja como podemos ajudá-lo a alcançar seus objetivos com as melhores práticas e metodologias.
        </p>
      </div>
      <div class="col-md-6">
        <img src="/assets/png/woman-talking.png" alt="">
      </div>
    </div>
  </div>
</div>
