<div class="content-section">
  <div class="text-section animate__animated animate__fadeInUp">
    <img src="/assets/svg/davi (1).svg" alt="Imagem no meio" class="center-image" />
    <div class="right-text">
      <h1 class="animate__animated animate__fadeIn animate__delay-1s">Aprenda Inglês de forma dinâmica!</h1>
      <p class="animate__animated animate__fadeIn animate__delay-2s">Com aulas personalizadas<br> interativas, você vai dominar<br>inglês rapidamente!</p>
      <app-form-modal class="btn-app-form-modal" buttonText="Garantir meu lugar"></app-form-modal>
    </div>

  </div>
  <div class="features animate__animated animate__fadeInUp">
    <div class="feature-item hvr-shadow">
      <img src="/assets/png/66ba1d84b7d0af8070c623ea_image 238.avif" alt="">
      <p>Aulas online com<br> professores qualificados</p>
    </div>
    <div class="feature-item hvr-shadow">
      <img src="/assets/png/66ba1e9cf9f0f6198a9f8e83_image 238.avif" alt="">
      <p>Aulas online com<br> professores qualificados</p>
    </div>
    <div class="feature-item hvr-shadow">
      <img src="/assets/svg/66ba1eb878f3ac7184d5a5e7_image 238.svg" alt="">
      <p>Horários flexíveis<br> para melhor se adaptar<br> à sua rotina</p>
    </div>
    <div class="feature-item hvr-shadow">
      <img src="/assets/png/66ba1d9ccb35c2fed7ff416f_image 238.avif" alt="">
      <p>Materiais de alta qualidade<br> disponíveis a qualquer hora</p>
    </div>
  </div>
</div>
