@import "../../../../styles/variables.scss"; /* Importa as variáveis de cor */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  background-color: white;
  font-family: 'Poppins', sans-serif;

  .text-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    .center-image {
      width: 40%;
      height: 800px;
      margin-bottom: -150px;
      margin-top: -170px;
      transition: transform 0.5s ease, filter 0.5s ease;
      border-radius: 15px;

      &:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
      }
    }

    .right-text {
      color: $text-color;
      margin-left: -30px;
      margin-top: -50px;

      h1 {
        font-size: 1.5rem;
        color: $primary-color;
        transition: color 0.5s ease;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

        &:hover {
          color: $prime-color;
        }
      }

      p {
        font-size: 3rem;
        color: $secundary-color;
        line-height: 1.6;
        margin-top: 0.5rem;
      }
    }
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    .feature-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1rem;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
      border-radius: 10px;
      background: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;


      &:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
      }

      img {
        width: 60px;
        height: auto;
        margin-bottom: 1rem;
        transition: transform 0.5s ease;
        border-radius: 50%;

        &:hover {
          transform: scale(1.1);
        }
      }

      p {
        font-size: 1rem;
        color: $text-color;
        line-height: 1.5;
      }
    }

  }
}
.btn-app-form-modal{
  margin-left: -200px;
  padding: 15px 40px;
  font-size: 1.5rem;
  border-radius: 60px;
  width: auto; /* Ajuste para largura automática para não sobrescrever o padding */
  height: auto; /* Ajuste para altura automática para não sobrescrever o padding */
  display: inline-block;
}

