@import "../../../../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.feedback-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center; /* Centraliza os cards em telas menores */
}

.feedback-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 20px); /* Faz com que os cards ocupem metade da largura menos o espaço do gap */
  max-width: 400px;
  background: $light-color;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 1s ease;
  margin: 0;
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(30px); /* Levemente deslocado para baixo */

  &.left {
    transform: translateX(-10px);
  }

  &.right {
    transform: translateX(10px);
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .feedback-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 17px;
    color: yellow;
  }

  .feedback-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .feedback-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid $primary-color;
  }

  .feedback-text {
    text-align: center;
    flex: 1;

    h4 {
      margin: 0;
      color: $secundary-color;
      font-size: 18px;
    }

    p {
      margin: 5px 0 0;
      color: $text-color;
      font-size: 16px;
    }
  }
}

.fade-in {
  opacity: 1; /* Fica visível */
  transform: translateY(0); /* Retorna à posição original */
}

@media (max-width: 768px) {
  .feedback-card {
    width: 100%; /* Em telas menores, o card ocupa toda a largura */
    max-width: 100%;
    margin: 10px 0;

    &.left,
    &.right {
      transform: translateX(0);
    }
  }
}

@media (max-width: 480px) {
  .feedback-text {
    h4 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }

  .feedback-img {
    width: 60px;
    height: 60px;
  }
}
