<div class="profile-container">
  <div class="content-profile">
    <div class="content-profile-image">
      <img src="assets/svg/perfildonego.svg" alt="Teacher Davi">
    </div>
    <div class="content-profile-text">
      <div class="text">
        E eu sou o<br>
        <p class="teacher">Teacher Davi</p><br>
      </div>
      <div class="subtext">
        <div class="div-space-write">
          Olá! Sou o Teacher David, apaixonado pela língua inglesa e professor desde 2015.
        Gosto de unir o aprendizado e diversão, explorando o humor e a riqueza cultural.
        </div>
        <div class="div-space-write">
          Ao longo desse tempo, construí uma comunidade incrível, com mais de 600 mil seguidores em minhas redes sociais.
        </div>
        <div class="div-space-write">        E, agora, faço parte do time de professores da Fluency
        a maior escola de idiomas da América Latina uma comunidade com mais 44 milhões de alunos e seguidores nas redes sociais.
      </div>

      </div>
    </div>
  </div>
  <app-form-modal buttonText="Agendar minha aula experimental"></app-form-modal>
</div>
