<div class="modal" id="myModal">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">&times;</span>

    <h2>Agendar aula</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nome Completo</label>
        <input type="text" id="name" placeholder="Edimilson Oliveira Da Silva" [(ngModel)]="formData.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="email@gmail.cm" [(ngModel)]="formData.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="phone">Telefone</label>
        <input type="tel" id="phone" placeholder="(11) 111763532" [(ngModel)]="formData.phone" name="phone" required>
      </div>
      <button type="submit" class="submit-btn">Enviar</button>
    </form>
  </div>
</div>

<!-- Botão para abrir o modal -->
<button type="button" class="btn-open-modal" (click)="openModal()">Agendar aula</button>

<!-- Or redirect for whatsap -->
 <!--<button type="button" class="btn-open-modal" (click)="redirectWsap()">Agendar aula</button>
 -->
