<div class="home-footer">
  <div class="icons-wrapper">
    <div class="icon-item">
      <i class="fas fa-chalkboard-user"></i>
      <p class="info-footer">Aulas Dinâmicas e Práticas.</p>
    </div>
    <div class="icon-item">
      <i class="fas fa-check-double"></i>
      <p class="info-footer">Ênfase em Conversação.</p>
    </div>
    <div class="icon-item">
      <i class="fas fa-hand-holding-dollar"></i>
      <p class="info-footer">Sem Contrato de Fidelidade.</p>
    </div>
    <div class="icon-item">
      <i class="fas fa-graduation-cap"></i>
      <p class="info-footer">Emitimos Certificado.</p>
    </div>
  </div>
</div>
